{% extends 'base.html' %}

{% block content %}
<!-- Content Wrapper START -->
<div class="main-content">
    <div class="page-header">
        <h2 class="header-title">Project</h2>
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a href="{{ url_for('project.index') }}" class="breadcrumb-item"><i
                        class="anticon anticon-home m-r-5"></i>Project</a>
                <a class="breadcrumb-item active" href="{{ url_for('project.create') }}">Create</a>
            </nav>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <h5>Project</h5>
                <div>
                    <a href="{{ url_for('project.index') }}" class="btn btn-sm btn-default"><i class="anticon anticon-arrow-left"></i>
                        Back</a>
                </div>
            </div>
            <p></p>
            <div class="m-t-25">
                <form id="projectForm" enctype="multipart/form-data">
                    <div class="form-group row">
                        <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputName" name="inputName" placeholder="Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputType" class="col-sm-2 col-form-label">Type</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="inputType" id="inputType">
                                <option value="Jembatan Beton">Jembatan Beton</option>
                                <option value="Jembatan Baja">Jembatan Baja</option>
                                <option value="Jembatan Komposit">Jembatan Komposit</option>
                                <option value="Gedung">Gedung</option>
                                <option value="Jalan">Jalan</option>
                                <option value="Bendungan">Bendungan</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputLocation" class="col-sm-2 col-form-label">Location</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputLocation" name="inputLocation"
                                placeholder="Location">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputStartDate" class="col-sm-2 col-form-label">Start Date</label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control" id="inputStartDate" name="inputStartDate"
                                placeholder="Start Date">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEndDate" class="col-sm-2 col-form-label">End Date</label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control" id="inputEndDate" name="inputEndDate"
                                placeholder="End Date">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputUploadRevit" class="col-sm-2 col-form-label">Upload Revit</label>
                        <div class="col-sm-10">
                            <input type="file" class="form-control" id="inputUploadRevit" name="inputUploadRevit"
                                placeholder="Upload Revit">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputUploadExcel" class="col-sm-2 col-form-label">Upload Excel</label>
                        <div class="col-sm-10">
                            <input type="file" class="form-control" id="inputUploadExcel" name="inputUploadExcel"
                                placeholder="Upload Excel">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputUploadPhoto" class="col-sm-2 col-form-label">Upload Photo</label>
                        <div class="col-sm-10">
                            <input type="file" class="form-control" id="inputUploadPhoto" name="inputUploadPhoto"
                                placeholder="Upload Excel">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputLinkRevit" class="col-sm-2 col-form-label">Link Revit</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputLinkRevit" name="inputLinkRevit"
                                placeholder="Link Revit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card-footer text-left">
            <button type="button" class="btn btn-primary" onclick="saveProject()">Save</button>
        </div>
    </div>
</div>
<!-- Content Wrapper END -->

<script>
    function saveProject() {
        const form = document.getElementById('projectForm');
        const formData = new FormData(form);

        // Disabling the "Save" button
        const saveButton = document.querySelector('.card-footer button');
        saveButton.disabled = true;
        saveButton.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Saving...';

        const xhr = new XMLHttpRequest();
        xhr.open('POST', '{{ url_for("project.store") }}');
        xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
        xhr.onload = function () {
            if (xhr.status === 200) {
                // Response handling logic here
                console.log(xhr.responseText);

                // Re-enable the "Save" button
                saveButton.disabled = false;
                saveButton.innerHTML = 'Save';

                // Show success message or alert
                alert('Data stored successfully.');

                // Reload the page
                window.location.reload();
            }
        };
        xhr.send(formData);
    }
</script>
{% endblock %}