{% extends 'base.html' %}

{% block content %}
<!-- Content Wrapper START -->
<div class="main-content">
    <div class="page-header">
        <h2 class="header-title">Project</h2>
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a href="{{ url_for('project.index') }}" class="breadcrumb-item"><i
                        class="anticon anticon-home m-r-5"></i>Project</a>
            </nav>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <h4>Project</h4>
                <div class="dropdown dropdown-animated scale-left">
                    <a class="text-gray font-size-18" href="javascript:void(0);" data-toggle="dropdown">
                        <i class="anticon anticon-ellipsis"></i>
                    </a>
                    <div class="dropdown-menu">
                        <a href="{{ url_for('project.create') }}" class="dropdown-item">
                            <i class="anticon anticon-plus"></i>
                            <span class="m-l-10">Create</span>
                        </a>
                    </div>                    
                </div>
            </div>
            <div class="m-t-25">
                <table id="data-table" class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Location</th>
                            <th>Start date</th>
                            <th>End Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in projects %}
                        <tr>
                            <td><a href="{{ url_for('project.detail', id=project.id) }}">{{ project.name }}</a></td>
                            <td>{{ project.type }}</td>
                            <td>{{ project.location }}</td>
                            <td>{{ project.start_date }}</td>
                            <td>{{ project.end_date }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Location</th>
                            <th>Start date</th>
                            <th>End Date</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Content Wrapper END -->
{% endblock %}