<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sign Up</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/images/logo/favicon.png') }}">

    <!-- Core CSS -->
    <link href="{{ url_for('static', filename='assets/css/app.min.css') }}" rel="stylesheet">

</head>

<body>
    <div class="app">
        <div class="container-fluid p-h-0 p-v-20 bg full-height d-flex"
            style="background-image: url('{{ url_for('static', filename='assets/images/others/login-3.png') }}')">
            <div class="d-flex flex-column justify-content-between w-100">
                <div class="container d-flex h-100">
                    <div class="row align-items-center w-100">
                        <div class="col-md-7 col-lg-5 m-auto">
                            <div class="card shadow-lg">
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-between m-b-30">
                                        <img class="img-fluid" alt=""
                                            src="{{ url_for('static', filename='assets/images/logo/logo.png') }}">
                                        <h2 class="m-b-0">Sign Up</h2>
                                    </div>
                                    <form>
                                        <div class="form-group">
                                            <label class="font-weight-semibold" for="email">Email:</label>
                                            <input type="email" class="form-control" id="email" name="email" placeholder="Masukkan Email Anda!">
                                        </div>
                                        <div class="form-group">
                                            <label class="font-weight-semibold" for="name">Nama:</label>
                                            <input type="text" class="form-control" id="name" name="name" placeholder="Masukkan Nama Anda!">
                                        </div>
                                        <div class="form-group">
                                            <label class="font-weight-semibold" for="age">Umur:</label>
                                            <input type="number" class="form-control" id="age" name="age" placeholder="Masukkan Umur Anda!">
                                        </div>
                                        <div class="form-group">
                                            <label class="font-weight-semibold" for="institute">Instansi:</label>
                                            <input type="text" class="form-control" id="institute" name="institute" placeholder="Universitas/Perusahaan">
                                        </div>
                                        <div class="form-group">
                                            <label class="font-weight-semibold" for="password">Password:</label>
                                            <input type="text" class="form-control" id="password"
                                                placeholder="Masukkan Password Anda!">
                                        </div>
                                        <div class="form-group">
                                            <label class="font-weight-semibold" for="confirmPassword">Re-Enter
                                                Password:</label>
                                            <input type="password" class="form-control" id="confirmPassword"
                                                placeholder="Masukkan Kembali Password Anda!">
                                        </div>
                                        <div class="form-group">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <span class="font-size-13 text-muted">
                                                    Already have an account? 
                                                    <a class="small" href="{{ url_for('auth.login') }}"> Sign In</a>
                                                </span>
                                                <button class="btn btn-primary">Sign Up</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-none d-md-flex p-h-40 justify-content-between">
                    <span class="">&copy; 2019 ThemeNate</span>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a class="text-dark text-link" href="#">Legal</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="text-dark text-link" href="#">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <!-- Core Vendors JS -->
    <script src="{{ url_for('static', filename='assets/js/vendors.min.js') }}"></script>

    <!-- Core JS -->
    <script src="{{ url_for('static', filename='assets/js/app.min.js') }}"></script>

</body>

</html>